<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Table With VueJS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script>
    <script src="./js/vue.js"></script>
</head>
<body>
    <div id="app">
        <div class="container" style="position: relative;">
            <br>
            <h2>Table des restaurants</h2>
            <button type="button" class="btn btn-dark mb-3" id="createButton" v-on:click="showInsertForm()"><i class="fa fa-plus"></i></button>
            <div style="position:absolute;top:15px;z-index:100;right: 15px;left:15px;transition: 0.2s;" id="succesAlert" v-if="showMessage" class="alert alert-success" role="alert">
                <h6 class="alert-heading">Opération réussie</h6>
                <p>{{message}}</p>
            </div>
            <div class="row">
                <div id="tableArea" v-bind:class="[colMod ? activeClass : notActiveClass]" style="transition: 0.2s;">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="elementPageDropDown">Elements par page</label>
                    </div>
                    <select v-model="displayNumber" class="custom-select" id="elementPageDropDown">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <input id="searchInput" class="form-control"
                           placeholder="Chercher par nom" v-model="query">
                </div>
                <table class="table table-bordered" id="myTable">
                        <thead class="thead-dark">
                        <tr>
                            <th>Nom</th>
                            <th>Cuisine</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(restaurant,index) in filteredrestaurants">
                                <td>{{restaurant.name}}</td>
                                <td>{{restaurant.cuisine}}</td>
                                <td>
                                    <button class="btn btn-dark" v-on:click="showRestaurant(restaurant,index)"><i class="fa fa-edit"></i></button>
                                    <button class="btn btn-dark" v-on:click="removeRestaurant(restaurant._id,index)"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                <br>
                <div class="navigation">
                    <button type="button" class="btn btn-dark" id="firstButton" v-on:click="navigate($event)">1</button>
                    <button type="button" class="btn btn-dark" id="secondButton" v-on:click="navigate($event)">2</button>
                    <button type="button" class="btn btn-dark" id="thirdButton" v-on:click="navigate($event)">3</button>
                    ......................
                    <button type="button" class="btn btn-dark" id="lastPageButton" v-on:click="navigate($event)" > {{cRestaurants}} </button>
                </div>
                </div>
                <div v-if="modifMod" class="col-lg-4" style="transition: 1s;" id="formulaireModification">
                    <div class="card">
                        <div class="card-body">
                            <form id="formulaireModificationform" onsubmit="putRequest(event);">
                                <div class="form-group">
                                    <label for="idInput">Id :</label>
                                    <input class="form-control" id="idInput" type="text" name="_id"
                                           value="56b9f89be0adc7f00f348cf6" required placeholder="Id du restaurant à modifier" v-model="modifRestaurant.id">
                                </div>
                                <div class="form-group">
                                    <label for="restaurantInput">Nom</label>
                                    <input class="form-control" id="restaurantInput" type="text" name="nom" required placeholder="Michel's restaurant" v-model="modifRestaurant.nom">
                                </div>
                                <div class="form-group">
                                    <label for="cuisineInput">Cuisine</label>
                                    <input class="form-control" id="cuisineInput" type="text" name="cuisine" required placeholder="Michel's cuisine" v-model="modifRestaurant.cuisine">
                                </div>
                                <button class="btn btn-dark" v-on:click="confirmUpdateRestaurant($event)">Modifier ce restaurant</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div v-if="insertMod" class="col-lg-4" style="transition: 1s;" id="formulaireInsertion">
                    <div class="card">
                        <div class="card-body">
                            <form id="formulaireInsertionform">
                                <div class="form-group">
                                    <label for="restaurantInput">Nom</label>
                                    <input class="form-control" id="restaurantInputI" type="text" name="nom" required placeholder="Michel's restaurant" v-model="newRestaurant.nom">
                                </div>
                                <div class="form-group">
                                    <label for="cuisineInput">Cuisine</label>
                                    <input class="form-control" id="cuisineInputI" type="text" name="cuisine" required placeholder="Michel's cuisine" v-model="newRestaurant.cuisine">
                                </div>
                                <button class="btn btn-dark" v-on:click="addRestaurant($event)">Créer restaurant</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            restaurants: [],
            userInput: '',
            displayNumber: '5',
            currentPage: '0',
            query:'',
            filteredrestaurants:null,
            cRestaurants:null,
            elementCount:null,
            modifMod:false,
            insertMod:false,
            colMod:false,
            showMessage:false,
            message:'',
            notActiveClass:'col-lg-12',
            activeClass: 'col-lg-8',
            selectedForModification:null,
            modifRestaurant:{
                id:null,
                nom:null,
                cuisine:null
            },
            newRestaurant:{
                nom:null,
                cuisine:null
            }
        },
        mounted() {
            this.countRestaurants('/api/restaurants/count');
            this.getDataFromServer('/api/restaurants?page='+this.currentPage+'&pagesize='+this.displayNumber);
        },

        methods: {
            getDataFromServer(url) {
                console.log("--- GETTING DATA ---");
                fetch(url)
                    .then(response => {
                        response.json().then(res=>{
                            this.restaurants = res.data;
                            this.filteredrestaurants = this.restaurants;
                        })
                })
                .catch(err => {
                    console.log("erreur dans le get : " + err)
                });
            },
            removeRestaurant(id,index){
                let url = "/api/restaurants/" + id;

                fetch(url, {
                    method: "DELETE",
                })
                .then((responseJSON) => {
                    this.restaurants.splice(index,1)
                    this.filteredrestaurants.splice(index,1)
                    this.message = 'Ce restaurant a été supprimé'
                    this.showMessage = true
                    setTimeout(()=>{
                        this.showMessage = false
                    },3000)
                })
                .catch(function (err) {
                    console.log(err);
                });
            },
            showRestaurant(rest,index){
                this.selectedForModification = rest;
                this.modifRestaurant.id = rest._id;
                this.modifRestaurant.nom = rest.name;
                this.modifRestaurant.cuisine = rest.cuisine;
                this.colMod = true;
                this.insertMod = false;
                setTimeout(()=>{
                    this.modifMod = true;
                },300)
            },
            confirmUpdateRestaurant(e){
                e.preventDefault();
                if(!this.modifRestaurant.nom || !this.modifRestaurant.cuisine)
                {
                    return;
                }
                this.colMod = false;
                this.modifMod = false;
                let rest = this.selectedForModification
                this.selectedForModification = null
                let url = "/api/restaurants/" + this.modifRestaurant.id;
                let form = new FormData(document.getElementById('formulaireModificationform'));
                fetch(url, {
                    method: "PUT",
                    body: form
                })
                .then((responseJSON)=>{
                    rest.name = this.modifRestaurant.nom
                    rest.cuisine = this.modifRestaurant.cuisine
                    this.message = 'Ce restaurant a été modifié'
                    this.showMessage = true
                    setTimeout(()=>{
                        this.showMessage = false
                    },3000)
                })
                .catch(function (err) {
                    console.log(err);
                });
            },
            showInsertForm(){
                this.colMod = true;
                this.modifMod = false;
                setTimeout(()=>{
                    this.insertMod = true;
                },300)
            },
            addRestaurant(e){
                e.preventDefault()
                if(!this.newRestaurant.nom || !this.newRestaurant.cuisine)
                {
                    return;
                }
                this.colMod = false;
                this.insertMod = false;
                let url = "/api/restaurants"
                let form = new FormData(document.getElementById('formulaireInsertionform'));
                fetch(url, {
                    method: "POST",
                    body: form
                })
                .then((responseJSON) => {
                    responseJSON.json()
                        .then((res) => {
                            this.filteredrestaurants.unshift({_id:res.result,name:this.newRestaurant.nom,cuisine:this.newRestaurant.cuisine})
                            this.message = 'Ce restaurant a été ajouté'
                            this.showMessage = true
                            setTimeout(()=>{
                                this.showMessage = false
                            },3000)
                        });
                })
                .catch(function (err) {
                    console.log(err);
                });
            },
            countRestaurants(gurl){
                let url = gurl;
                fetch(url)
                    .then(response => {
                        response.json().then(res=>{
                            this.elementCount = res.data;
                            this.cRestaurants = Math.ceil(this.elementCount/this.displayNumber);
                        })
                    })
                    .catch(function (err) {
                        console.log(err);
                    });
            },
            search: _.debounce(
                function () {
                    let url = '/api/restaurants?page='+this.currentPage+'&pagesize='+this.displayNumber+"&name="+this.query;
                    fetch(url)
                        .then(response => {
                            response.json().then(res=>{
                                this.filteredrestaurants = res.data;
                                if(res.count){
                                    this.cRestaurants = Math.ceil(res.count/this.displayNumber);
                                }
                            })
                        })
                        .catch(err => {
                            console.log("erreur dans le get : " + err)
                        });
                },
                300
            ),
            navigate(element){
                let cnumber = parseInt(element.target.innerHTML)-1;
                this.currentPage = cnumber;
                let url = '/api/restaurants?page='+this.currentPage+'&pagesize='+this.displayNumber
                if(this.query.length > 0){
                    url = '/api/restaurants?page='+this.currentPage+'&pagesize='+this.displayNumber+'&name='+this.query
                }
                this.getDataFromServer(url)
                if(element.target.id == 'thirdButton' || element.target.id == 'firstButton'){
                    if(this.currentPage == 0 || this.currentPage == Math.ceil(this.elementCount/this.displayNumber)){
                        console.log('exit')
                        return;
                    }
                    console.log('changing')
                    document.querySelector('#firstButton').innerHTML = cnumber;
                    document.querySelector('#secondButton').innerHTML = cnumber+1;
                    document.querySelector('#thirdButton').innerHTML = cnumber + 2;
                }
            }
        },
        watch: {
            displayNumber: function () {
                this.getDataFromServer('/api/restaurants?page='+this.currentPage+'&pagesize='+this.displayNumber);
                this.cRestaurants = Math.ceil(this.elementCount/this.displayNumber);
            },
            query: function () {
                if(!this.query.length){
                    this.filteredrestaurants = this.restaurants;
                    this.cRestaurants = Math.ceil(this.elementCount/this.displayNumber);
                }
                else{
                    this.search()
                }
            }
        }
    });
</script>
</html>